.container-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 54px);
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.8rem;
  }
  
  .card-style {
    width: 600px;
  }
  
  .form-style {
    display: flex;
    flex-direction: column;
  }
  
  .form-control-style {
    margin-top: 10px;
  }
  
  .checkbox-style {
    margin-top: 10px;
    text-align: left;
  }
  
  .row-style {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 15px;
  }
  
  .button-style {
    margin-top: 10px;
  }
  