.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px); /* Высота экрана за вычетом высоты хедера и футера */
  background-size: cover;
}

.custom-form {
  background-color: #F8F8F8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 80%; /* Ширина формы */
  max-width: 800px; /* Максимальная ширина формы */
  margin: auto; /* Центрирование формы */
  margin-top: 20px; /* Дополнительный отступ сверху */
}

.custom-form label {
  margin-bottom: 0.5rem;
}

.custom-form .form-control {
  margin-bottom: 1rem;
  width: 400px; /* Ширина полей формы */
}

.custom-form .btn-primary {
  width: 100%;
  background-color: #1A8EFD;
  color: white;
  border-radius: 7px;
   /* Отступ сверху для кнопки */
}

.custom-form .btn-primary:hover {
  background-color: white;
  border: 1px solid #1A8EFD;
  color: #1A8EFD;
}