/* Стили для информационных карточек */
.info-cards {
  position: relative;
  width: 480px; /* Ширина карточки */
  height: 360px; /* Высота карточки */
  margin-bottom: 70px;
  border: none;
}
.service-title-content{
  margin: 64px;
  text-align: center;
  color: rgb(77, 75, 75);
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  letter-spacing: .8px;
  line-height: 1.8rem;
}
.service-title{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 64px;
}
.serv-card-img {
  width: 480px;
  height: 360px;
  object-fit: cover;
}
.serv-card-title {
  position: absolute;
  bottom:50%; /* Отступ от нижней границы */
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}
.info-cards-content a {
  text-decoration: none; /* Отключение стиля подчеркивания для ссылок */
  color: inherit; /* Использование цвета текста родительского элемента */
}

.info-cards-content a:hover {
  color: inherit; /* Использование цвета текста родительского элемента при наведении */
}

.info-cards-content  { /* Использование цвета текста родительского элемента при наведении */
  /*gap:30px;*/
  margin-left: 64px;
}