.table{
    width: 100%;
    margin-bottom: 80px ;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.8rem;
}
.name-column{
    width: 90%;
    text-align: center;
}
.price-colum{
    width: 10%;
}
.table td, .table th {
    border: 1px solid #1c1c1c;
    text-align: left;
}